<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h3>Welcome to  Data Page</h3>
	<table border="1">
		<tr>
			<th>Order Id</th>
			<th>Order Mode</th>
			<th>Order Code</th>
			<th>Order Type</th>
			<th>Order Accept</th>
			<th>Description</th>
			<th>Operation</th>
		</tr>
		<tr th:each="ob:${list}">
			<td th:text="${ob.id}"></td>
			<td th:text="${ob.orderMode}"></td>
			<td th:text="${ob.orderCode}"></td>
			<td th:text="${ob.orderType}"></td>
			<td th:text="${ob.orderAccept}"></td>
			<td th:text="${ob.description}"></td>
			<td><a th:href="@{/ordermethod/delete/{id}(id=${ob.id})}">DELETE</a>
				<a th:href="@{/ordermethod/edit/{id}(id=${ob.id})}">EDIT</a>
				<a th:href="@{/ordermethod/view/{id}(id=${ob.id})}">VIEW</a></td>
		</tr>
	</table>
	<span th:text="${message}"></span>
</body>
</html>