<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="ISO-8859-1">
<title>register</title>
</head>
<body>

<div class="container">
		<div class="card">
			<div class="card-header"></div>
			<div class="card-body"></div>
			<div class="card-footer"></div>
		</div>
	</div>
	
	<div class="row">
					<div class="col-4">
					<label for=""></label>
					</div>
					<div class="col-4">
					</div>
					<div class="col-4">
					</div>
					</div>
	
<h3>Welcome to edit Page</h3>
<form th:action="@{/shipmenttpye/update}" method="post" th:object="${shipmentType}">
<pre>
Shipment ID:<input type="text" th:field="*{id}" readonly="readonly"/>

Shipment Mode: <select th:field="*{shipmentMode}">
<option value="">-select-</option>
<option value="Air">Air</option>
<option value="Truck">Truck</option>
<option value="Ship">Ship</option>
<option value="Train">Train</option>
</select>
Shipment Code:<input type="text" th:field="*{shipmentCode}"/>
Enable Shipment:
<select th:field="*{enableShipment}">
<option value="">-select-</option>
<option value="Yes">Yes</option>
<option value="No">No</option>
</select>
Shipment Grade: <input type="radio" th:field="*{shipmentGrade}" value="A"/>A
<input type="radio" th:field="*{shipmentGrade}" value="B"/>B
<input type="radio" th:field="*{shipmentGrade}" value="C"/>C

Description:<textarea th:field="*{description}"></textarea>
<input type="submit" value="Update Shipment"/>
</pre>
</form>
<span th:text="${message}"></span>
</body>
</html>