<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<div class="container">
		<div class="card">
			<div class="card-header"></div>
			<div class="card-body"></div>
			<div class="card-footer"></div>
		</div>
	</div>
	
	<div class="row">
					<div class="col-4">
					<label for=""></label>
					</div>
					<div class="col-4">
					</div>
					<div class="col-4">
					</div>
					</div>
					
<h3>Welcome to Data View Page</h3>
	<table border="1">
		<tr>
			<th>ID</th>
			<td th:text="${ob.id}"></td>
		</tr>
		<tr>
			<th>ShipmentMode</th>
			<td th:text="${ob.shipmentMode}"></td>
		</tr>
		<tr>
			<th>ShipmentCode</th>
			<td th:text="${ob.shipmentCode}"></td>
		</tr>
		<tr>
			<th>EnableShipment</th>
			<td th:text="${ob.enableShipment}"></td>
		</tr>
		<tr>
			<th>ShipmentGrade</th>
			<td th:text="${ob.shipmentGrade}"></td>
		</tr>
		<tr>
			<th>Description</th>
			<td th:text="${ob.description}"></td>
		</tr>
		
	</table>
</body>
</html>