<!DOCTYPE html>
<html  xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="ISO-8859-1">
<title>save</title>
</head>
<body>
<table border="1">
<tr>
<th>UOM ID</th>
<th>UOM Type</th>
<th>UOM Model</th>
<th>Description</th>
<th>Operation</th>
</tr>
<tr th:each="ob:${list}">
<td th:text="${ob.id}"></td>
<td th:text="${ob.uomType}"></td>
<td th:text="${ob.uomModel}"></td>
<td th:text="${ob.description}"></td>
<td>
<a th:href="@{/uom/delete/{id}(id=${ob.id})}">DELETE</a>
<a th:href="@{/uom/edit/{id}(id=${ob.id})}">EDIT</a>
<a th:href="@{/uom/view/{id}(id=${ob.id})}">VIEW</a>
</td>
</tr>
</table>
<span th:text="${message}"></span>
</body>
</html>