<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="ISO-8859-1">
<title>edit</title>
</head>
<body>
<h3>Welcome to Edit Page</h3>
<form th:action="@{/uom/update}" method="post" th:object="${uom}">
<pre>
UOM ID:<input type="text" th:field="*{id}" readonly="readonly">
UOM Type: <select th:field="*{uomType}">
<option value="">-select-</option>
<option value="Packing Info">Packing Info</option>
<option value="No Packing">No Packing</option>
<option value="-Na-">-Na-</option>
</select>
UOM Model: <input type="text" th:field="*{uomModel}">
Description:<textarea th:field="*{description}"></textarea>
<input type="submit" value="Update UOM">
</pre>
</form>
<span th:text="${message}"></span>
</body>
</html>