<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h3>Welcome to Data View Page</h3>
	<table border="1">
		<tr>
			<th>ID</th>
			<td th:text="${ob.id}"></td>
		</tr>
		<tr>
			<th>UomType</th>
			<td th:text="${ob.uomType}"></td>
		</tr>
		<tr>
			<th>UomModel</th>
			<td th:text="${ob.uomModel}"></td>
		</tr>
		<tr>
			<th>Description</th>
			<td th:text="${ob.description}"></td>
		</tr>
		
		</table>
</body>
</html>